.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.title {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  margin-bottom: 20px;
  color: var(--ion-color-medium);
}

.otp-inputs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;

  ion-input {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid var(--ion-color-medium);
    border-radius: 5px;
    font-size: 18px;
  }
}

.resend-text {
  margin-bottom: 20px;

  a {
    color: var(--ion-color-primary);
    cursor: pointer;
  }
}

/* signin.page.scss */
::ng-deep.otp-input[_ngcontent-ng-c1701526001] {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  border: solid 1px #c5c5c5;
  text-align: center;
  font-size: 32px;
  background-color: aliceblue;
}

