.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  ion-item {
    margin-bottom: 20px;
  }
  ion-text p {
    display: flex;
    justify-content: end;
    color: red;
  }
  
  .or-divider {
    text-align: center;
    margin: 20px 0;
  }
  
  p {
    text-align: center;
  }
  ion-content {
      ion-item {
        ion-input {
          --border-color: inherit
          // --border: none;

        }
     }

}