<ion-buttons slot="start">
  <ion-back-button color="dark" defaultHref="auth/verification"></ion-back-button>
</ion-buttons>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-text slot="center">
      <h1>Sign in with your email or phone number</h1>
    </ion-text>
    <form [formGroup]="passwordFrom" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-input type="password" formControlName="password" name="password" errorText="required" placeholder="Password">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle></ion-input>
        <!-- <div *ngIf="passwordFrom.get('password')?.hasError && passwordFrom.get('password')?.touched" class="error-text">
          required</div> -->
      </ion-item>
      <ion-text>
        <p>{{validateMissingElements[0]}}</p>
      </ion-text>
      <ion-item>
        <ion-input type="password" formControlName="reTypePassword" name="reTypePassword" errorText="required"
          placeholder="reType Password"><ion-input-password-toggle slot="end"></ion-input-password-toggle></ion-input>
        <!-- <div *ngIf="passwordFrom.get('reTypePassword')?.invalid && passwordFrom.get('reTypePassword')?.touched" class="error-text">
          required</div> -->
      </ion-item>
      <ion-text>
        <p>{{validateBothElements[0]}}</p>
      </ion-text>
    
      <ion-button type="submit"  [disabled]="passwordFrom.invalid" expand="block">Save</ion-button>
    </form>
  </div>
</ion-content>